{% extends 'cfaa/base.html' %}

{% block title %}Dashboard{% endblock %}

{% load static %}

{% block content %}
<link href="{% static 'cfaa/css/main.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container my-5">
    <h3>Monitored Topics</h3>
    <div class="list-group">
        {% for topic in monitored_topics %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div class="topic-info">
                <h5>{{ topic.title }}</h5>
                <span>{{ topic.new_articles }} new articles</span>
            </div>
            <div class="topic-status">
                <a href="{{ report_url }}" class="btn btn-outline-warning ml-2">
                    <i class="fas fa-arrow-right"></i> <!-- FontAwesome icon for right arrow -->
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
